{% extends "nginx/base-nginx.html" %}

{% block content %}

{% load staticfiles %}

 {%  if request.user.is_authenticated %}

      {% for alert in object_list %}
               <tr>
                   <td>{{ alert.node_name }}</td>
                   <td>{{ alert.status }}</td>
     {% endfor %}

<div class="status">
   <h3>监控状态</h3>

   <table class="table  table-striped  table-hover">
       <tbody>
           <tr>
               <th>节点名</th>
               <th>数据类型</th>
               <th>值</th>
               <th>最后更新时间</th>
            </tr>

           {% for node_name, status_to_data_point_map in status_data_dict.items %}


               {% for status, data_point in status_to_data_point_map.items %}

                   <tr {% if data_point.has_alert %}
                            {{ data_point.threshold }}
                            {% if data_point.threshold == 1  %} class="danger"
                            {% endif %}
                            {% if data_point.threshold == 2  %} class="warning"
                            {% endif %}
                            {% if data_point.threshold == 3  %} class="info"
                            {% endif %}

                       {% endif %}

                           >
                        <td><a href="{% url "nginx-detail" id=data_point.id %}">{{ node_name }}</a></td>
                        <td>{{ status }}</td>
                        <td>{{ data_point.status_count }}</td>
                        <td>{{ data_point.created |timesince }} ago</td>
                    </tr>
                {% endfor %}
            {% endfor %}
       </tbody>
   </table>

        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <span><a href="?page={{ page_obj.previous_page_number }}">上一页</a></span>
            </li>
        {% endif %}
            <li class="">
                <span>位置 {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            </li>
        {% if page_obj.has_next %}
            <li>
                <span><a href="?page={{ page_obj.next_page_number }}">下一页</a></span>
            </li>

        </ul>

        {% endif %}
</div>

    {% else %}
    <p>请先登录再查看</p>
    {% endif %}
{% endblock content %}