 {% if messages %}

     {% for message in messages %}
         <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <li{% if message.tags %} class="messages" {% endif %}>{% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>


    {% endfor %}
      </div>
{% endif %}

